.container {
  max-width: 1170px;
  margin: 0 auto;
}


[class*="col-"] {
  float: left;
}

/* clearfix */

.container::after {
  content:  "";
  display: table;
  clear: both;
}

/* Query large screen */
@media screen and (min-width: 993px) {

  .col-lg-1 {
    width: calc((100% / 12) * 1);
  }

  .col-lg-2 {
    width: calc((100% / 12) * 2);
  }

  .col-lg-3 {
    width: calc((100% / 12) * 3);
  }

  .col-lg-4 {
    width: calc((100% / 12) * 4);
  }

  .col-lg-5 {
    width: calc((100% / 12) * 5);
  }

  .col-lg-6 {
    width: calc((100% / 12) * 6);
  }

  .col-lg-7 {
    width: calc((100% / 12) * 7);
  }

  .col-lg-8 {
    width: calc((100% / 12) * 8);
  }

  .col-lg-9 {
    width: calc((100% / 12) * 9);
  }

  .col-lg-10 {
    width: calc((100% / 12) * 10);
  }

  .col-lg-11 {
    width: calc((100% / 12) * 11);
  }

  .col-lg-12 {
    width: calc((100% / 12) * 12);
  }

  /* Offset */
  .col-offset-lg-1 {
    margin-left: calc((100% / 12) * 1);
  }
  .col-offset-lg-2 {
    margin-left: calc((100% / 12) * 2);
  }
  .col-offset-lg-3 {
    margin-left: calc((100% / 12) * 3);
  }
  .col-offset-lg-4 {
    margin-left: calc((100% / 12) * 4);
  }
  .col-offset-lg-5 {
    margin-left: calc((100% / 12) * 5);
  }
  .col-offset-lg-6 {
    margin-left: calc((100% / 12) * 6);
  }
  .col-offset-lg-7 {
    margin-left: calc((100% / 12) * 7);
  }
  .col-offset-lg-8 {
    margin-left: calc((100% / 12) * 8);
  }
  .col-offset-lg-9 {
    margin-left: calc((100% / 12) * 9);
  }
  .col-offset-lg-10 {
    margin-left: calc((100% / 12) * 10);
  }
  .col-offset-lg-11 {
    margin-left: calc((100% / 12) * 11);
  }

  /* Display none */
  .display-none-lg {
    display:none;
  }

/* Query medium screen */
@media screen and (min-width: 769px) and (max-width: 992px) {

  .col-md-1 {
    width: calc((100% / 12) * 1);
  }

  .col-md-2 {
    width: calc((100% / 12) * 2);
  }

  .col-md-3 {
    width: calc((100% / 12) * 3);
  }

  .col-md-4 {
    width: calc((100% / 12) * 4);
  }

  .col-md-5 {
    width: calc((100% / 12) * 5);
  }

  .col-md-6 {
    width: calc((100% / 12) * 6);
  }

  .col-md-7 {
    width: calc((100% / 12) * 7);
  }

  .col-md-8 {
    width: calc((100% / 12) * 8);
  }

  .col-md-9 {
    width: calc((100% / 12) * 9);
  }

  .col-md-10 {
    width: calc((100% / 12) * 10);
  }

  .col-md-11 {
    width: calc((100% / 12) * 11);
  }

  .col-md-12 {
    width: calc((100% / 12) * 12);
  }

  /* Offset */
  .col-offset-md-1 {
    margin-left: calc((100% / 12) * 1);
  }
  .col-offset-md-2 {
    margin-left: calc((100% / 12) * 2);
  }
  .col-offset-md-3 {
    margin-left: calc((100% / 12) * 3);
  }
  .col-offset-md-4 {
    margin-left: calc((100% / 12) * 4);
  }
  .col-offset-md-5 {
    margin-left: calc((100% / 12) * 5);
  }
  .col-offset-md-6 {
    margin-left: calc((100% / 12) * 6);
  }
  .col-offset-md-7 {
    margin-left: calc((100% / 12) * 7);
  }
  .col-offset-md-8 {
    margin-left: calc((100% / 12) * 8);
  }
  .col-offset-md-9 {
    margin-left: calc((100% / 12) * 9);
  }
  .col-offset-md-10 {
    margin-left: calc((100% / 12) * 10);
  }
  .col-offset-md-11 {
    margin-left: calc((100% / 12) * 11);
  }

  /* Display none */
  .display-none-md {
    display:none;
  }
}


/* Query small screen */
@media screen and (max-width: 768px) {

  .col-sx-1 {
    width: calc((100% / 12) * 1);
  }

  .col-sx-2 {
    width: calc((100% / 12) * 2);
  }

  .col-sx-3 {
    width: calc((100% / 12) * 3);
  }

  .col-sx-4 {
    width: calc((100% / 12) * 4);
  }

  .col-sx-5 {
    width: calc((100% / 12) * 5);
  }

  .col-sx-6 {
    width: calc((100% / 12) * 6);
  }

  .col-sx-7 {
    width: calc((100% / 12) * 7);
  }

  .col-sx-8 {
    width: calc((100% / 12) * 8);
  }

  .col-sx-9 {
    width: calc((100% / 12) * 9);
  }

  .col-sx-10 {
    width: calc((100% / 12) * 10);
  }

  .col-sx-11 {
    width: calc((100% / 12) * 11);
  }

  .col-sx-12 {
    width: calc((100% / 12) * 12);
  }

  /* Offset */
  .col-offset-sx-1 {
    margin-left: calc((100% / 12) * 1);
  }
  .col-offset-sx-2 {
    margin-left: calc((100% / 12) * 2);
  }
  .col-offset-sx-3 {
    margin-left: calc((100% / 12) * 3);
  }
  .col-offset-sx-4 {
    margin-left: calc((100% / 12) * 4);
  }
  .col-offset-sx-5 {
    margin-left: calc((100% / 12) * 5);
  }
  .col-offset-sx-6 {
    margin-left: calc((100% / 12) * 6);
  }
  .col-offset-sx-7 {
    margin-left: calc((100% / 12) * 7);
  }
  .col-offset-sx-8 {
    margin-left: calc((100% / 12) * 8);
  }
  .col-offset-sx-9 {
    margin-left: calc((100% / 12) * 9);
  }
  .col-offset-sx-10 {
    margin-left: calc((100% / 12) * 10);
  }
  .col-offset-sx-11 {
    margin-left: calc((100% / 12) * 11);
  }

  /* Display none */
  .display-none-sx{
    display:none;
  }
}
