/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

/* Debug */
.debug .container {
  border: 1px solid black;
}

.debug .container-square {
  border: 1px solid black;
}


.header-top.container [class*="col-"] {
  height: 80px;
  line-height: 80px;
}


/* -------------- */

/* GENERIC */

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}

/* ------------ */

/* Header */
.header-top.container [class*="nav-"] li {
  list-style-type: none;
  display: inline-block;
}

.header-top.container [class*="nav-"] li a {
  text-decoration: none;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
}

.header-top img {
  width: 120px;
}

[class*="nav-"] {
  text-align: right;
}

.nav-right li:not(:last-child) a {
  border-right: 2px solid black;
}

.header-bottom {
  background-image: url("../img/hero-bg.jpg");
  background-size: cover;
  height: 700px;
  position: relative;
}

.hero-title {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.hero-title img {
  width: 200px;
}

.hero-title h1, h2 {
  padding-bottom: 30px;
}

.hero-title h1 {
  font-size: 3rem;
}

/* --------- */

.separator {
  height: 50px;
  wdith: 100%;
}

/* MAIN FIRST SECTION */

.container-square {
  max-width: 1350px;
  margin: 0 auto;
}
#square {
  float: left;
  width: 650px;
}

#square:last-child {
  float:
}


/* HELPER */
.clear::after {
  clear: both;
  content: "";
  display:table;
}


/* ------------- */
