/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

/* Debug */
.debug .container {
  border: 1px solid black;
}

.debug .container-square {
  border: 1px solid black;
}


.header-top.container [class*="col-"] {
  height: 80px;
  line-height: 80px;
}


/* -------------- */

/* GENERIC */

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
}

/* ------------ */

/* Header */
.header-top.container [class*="nav-"] li {
  list-style-type: none;
  display: inline-block;
}

.header-top.container [class*="nav-"] li a {
  text-decoration: none;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
}

.header-top img {
  width: 100px;
}

[class*="nav-"] {
  text-align: right;
}

.nav-right li:not(:last-child) a {
  border-right: 2px solid black;
}

.header-bottom {
  background-image: url("../img/hero-bg.jpg");
  background-size: cover;
  height: 500px;
  position: relative;
}

.hero-title {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 800px;
}

.hero-title img {
  width: 200px;
}

.hero-title h1, h2 {
  padding-bottom: 20px;
}

.hero-title h1 {
  font-size: 2.7rem;
}

/* --------- */

.separator {
  height: 50px;
  wdith: 100%;
}

/* <MAIN> */
/* First section */

.container-square {
  max-width: 1350px;
  margin: 0 auto;
}
.square {
  width: 650px;
  background-color: #FAFAFA;
  text-align: center;
  padding-top: 100px;
}

.square:last-child {
  float:right;
}

.square img:nth-of-type(2) {
  width: 600px;
}

.square img:first-child {
  width: 200px;
}

.square h3 {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 1.5rem;
}

.square a {
  text-decoration: none;
  font-size: 1.2rem;

}
/* ////////////// */

/* SECOND SECTION */

#oldman {
  background-image: url("../img/anzianosignore.jpg");
  background-size: cover;
  width: 100%;
  height: 400px;
  position: relative;
}

.mycontainer {
  margin-bottom: 100px;
}

.mycontainer h2 {
  margin-top: 100px;
}

.mycontainer h3 {
  margin-top: 100px;
}

.mycontainer h2 {
  font-size: 2rem;
  margin-left: 150px;
}

#iphone {
  width: 260px;
  height: 522px;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, 0);
}

/* ////////////////// */
/* THIRD SECTION */

.bgscooter {
  position: relative;
  background-image: url(../img/scooter.jpg);
  height: 500px;
  background-size: cover;
}


/* ///////////////// */
/* FOURTH SECTION */

[class*="bgimage"] {
  width: 680px;
  height: 440px;
  text-align: center;
}

.bgimage1 {
  background-image: url();
}

.bgimage2 {
  background-image: url();
}

/* </MAIN> */


/* HELPER */
.clear::after {
  clear: both;
  content: "";
  display:table;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%; -50%);
}

.text-white {
  color: white;
}



/* ------------- */
