/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

/* Debug */
.debug .container {
  border: 1px solid black;
}

.header-top.container [class*="col-"] {
  height: 80px;
}


/* -------------- */

/* GENERIC */

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

/* ------------ */

/* Header */
.header-top.container [class*="nav-"] li {
  list-style-type: none;
  display: inline-block;
}

.header-top.container [class*="nav-"] li a {
  text-decoration: none;
  color: black;
  padding-right: 15px;
}

.header-top img {
  width: 80px;
}

[class*="nav-"] {
  text-align: right;
  line-height: 80px;
}

.nav-right li:not(:last-child) a {
  border-right: 2px solid black;
}

.header-bottom {
  background-image: url("../img/hero-bg.jpg");
  background-size: cover;
  height: 700px;
}

/* --------- */


/* HELPER */
.ghost-align::before {
	content: "";
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}

.text-center {
  text-align: center;
}

/* ------------- */
